BOT_TOKEN=replace_with_new_bot_token
STAFF_CHAT_ID=-1001234567890
SHEET_NAME=Мандри бронь
GOOGLE_APPLICATION_CREDENTIALS=/home/botuser/mandry/credentials.json
MENU_URL=https://mandry-sup.choiceqr.com/menu
